{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="flex flex-auto">
  <div class="bg-silver border-box col-2 px2">
    <h2 class="h4">Navigation</h2>
    <ul class="list-reset">
    {% set root = site.get('/') %}
    {% for child in root.children recursive %}
      <li{% if this._path == child._path %} class="active"{% endif %}>
        <a href="{{ child|url }}">{{ child.title }}</a>
        {% if this.is_child_of(child) %}
        <ul>{{ loop(child.children) }}</ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="border-box col-10 px4 py2 relative">
    <h1>{{ this.title }}</h1>
    {% if this.body.toc %}
    <div class="right border px2 mx2 mb2">
      <h2 class="h4">Contents</h2>
      <ul class="list-reset">
      {% for item in this.body.toc recursive %}
        <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{%
         if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {{ this.body }}
  </div>
</div>
{% endblock %}
